{% extends "base.html" %}
{% block title %}#{{ channel.name }} · tipple{% endblock %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-lg-8">

      {% include "channels/_header.html" with context %}

      {% if current_user.is_authenticated %}
        {% include "channels/_post_form.html" with context %}
      {% else %}
        {% include "channels/_signin_hint.html" with context %}
      {% endif %}

      {% include "channels/_posts_list.html" with context %}

    </div>
  </div>

  {% block body_extra %}
    {% include "channels/_post_body_counter.ts.html" with context %}
  {% endblock %}
{% endblock %}
